html {

    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(#001427, #053c83, #001427);
}

header {

    background: linear-gradient(#053c83, #001427);
    padding: 20px 0px;
    border-bottom: 4px solid #82b8ff;
    box-shadow: 5px 5px 5px #001427;
    position: relative;
    text-shadow: 5px 5px 5px #001427;
}

.box {

    position: relative;
    width: 90%;
    margin: auto;
}

.box nav {

    position: absolute;
    top: 80px;
    right: 0px;
}

.box nav li {

    display: inline;
    margin: 0px 0px 0px 15px;
}

.box nav a {

    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 0.25s;
}

.box nav a:hover {

    color: #82b8ff;
}

.logo {

    width: 125px;
    background: white;
    border: 2px solid #82b8ff;
    box-shadow: 5px 5px 5px #001427;
}

.products {

    width: auto;
    margin: auto;
    padding: 5% 5%;
}

.products li img {

    width: 55%;
}

.products li {

    display: inline-block;
    text-align: center;
    width: 25%;
    vertical-align: top;
    margin: 0% 4%;
    padding: 2% 1.5%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    opacity: 80%;
    transition: 0.15s;
}

.products li:hover {

    opacity: 100%;
    cursor: pointer;
}

.products h2 {

    font-size: 2em;
    font-weight: bold;
    padding: 5px;
}

.product-desc {

    font-size: 100%;
}

.product-price {

    font-size: 100%;
    font-weight: bold;
    margin-top: 10px;
}

footer {

    text-align: center;
    background: url("../../img/bg.jpg");
    padding: 40px;
    box-shadow: 0px -5px 5px #001427;
}

.copyright {

    color: white;
    font-size: 13px;
    margin: 20px 0px 0px;
}